:root {
    --color-primary: #1F665C;
    --color-secondary: #91C06C;
    --color-tertiary: #F4C92B;
    --color-contrast: #00352F;
    --color-grey: #BCB69C;
    --color-white: #FFFDF3;
    --color-creme: #FFF3C4;
}
